<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="shortcut icon" href="${request.contextPath}/static/img/ws48.png" type="image/x-icon" />
		<title>关于本站-代码笔记</title>
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				height: 100%;
				text-shadow: rgb(234, 234, 234) 0px 1px 0px;
				background: rgb(255, 255, 255);
				font: 18px "Microsoft YaHei", 微软雅黑, Arial, "Lucida Grande", Tahoma,
					sans-serif;
			}
		</style>
	</head>
	<body>
		
		<table border="1" style="width: 100%;">
		  <tr>
		    <th>版本</th>
		    <th>发布时间</th>
		    <th>开发者</th>
		    <th>详情</th>
		  </tr>
		  <tr>
		    <td>代码笔记 2.1</td>
		    <td>2019/09/10</td>
		    <td><a href="mailto:bowserostree@163.com">bowserostree@163.com</a></td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>代码笔记 2.2</td>
		    <td>2019/09/12</td>
		    <td><a href="mailto:bowserostree@163.com">bowserostree@163.com</a></td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>代码笔记 2.3</td>
		    <td>2019/09/20</td>
		    <td><a href="mailto:bowserostree@163.com">bowserostree@163.com</a></td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>代码笔记 2.5</td>
		    <td>2019/09/26</td>
		    <td><a href="mailto:bowserostree@163.com">bowserostree@163.com</a></td>
		    <td></td>
		  </tr>
		</table>
		
		使用技术:
		<ul>
			<li>spring boot</li>
			<li>druid</li>
			<li>mybatis-plus</li>
			<li>fastjson</li>
			<li>rocksdb / leveldb</li>
			<li>jquery</li>
			<li>toastr</li>
			<li>layer</li>
			<li>ztree</li>
		</ul>
		
	</body>
</html>
